Repository jjinppang/jjinppang-FE, pull requests merged in 2023-09, with the labels that each got.

#11 fix : 병합 완료 및 로그인, 회원가입 api 수정
  Frontend/jjinppang-fe/src/apis/users.js
  Frontend/jjinppang-fe/src/cookies/Cookie.js
  Frontend/jjinppang-fe/src/pages/EmailLogin.jsx
  Frontend/jjinppang-fe/src/pages/Login.jsx
  Frontend/jjinppang-fe/src/pages/Signup.jsx
  Frontend/jjinppang-fe/src/shared/Router.js
  Frontend/jjinppang-fe/src/socialLogin/Redirection.jsx
  Frontend/jjinppang-fe/yarn.lock
Labels: 🖥️ frontend, 💡 feature

#12 feat : 카카오 맵 api 연결 및 라우터 연결
  Frontend/jjinppang-fe/public/index.html
  Frontend/jjinppang-fe/src/pages/Map.jsx
  Frontend/jjinppang-fe/src/shared/Router.js
Labels: 🖥️ frontend, 💡 feature

#13 feat : 메인 페이지 검색 기능 연결
  Frontend/jjinppang-fe/src/pages/Main.jsx
Labels: 🖥️ frontend, 💡 feature

#16 design : 사이드 바 css 구성
  Frontend/jjinppang-fe/src/components/SideBar/Information/InformationMain.jsx
  Frontend/jjinppang-fe/src/pages/Main.jsx
  Frontend/jjinppang-fe/src/style/styles.css
Labels: 🖥️ frontend, 🎨 UI

#17 feat:navbar 유저 닉네임,프로필이미지 추가
  Frontend/jjinppang-fe/package.json
  Frontend/jjinppang-fe/src/App.js
  Frontend/jjinppang-fe/src/components/Navbar.jsx
  Frontend/jjinppang-fe/src/pages/Login.jsx
  Frontend/jjinppang-fe/src/pages/Main.jsx
  Frontend/jjinppang-fe/src/states/userState.js
  Frontend/jjinppang-fe/tailwind.config.js
Labels: ⚙️ setting, 🖥️ frontend, 💡 feature

#19 fix : 좌표 및 레벨 api 요청 수정
  Frontend/jjinppang-fe/src/pages/Map.jsx
Labels: 🐞 bug, 🖥️ frontend

#18 fix : search api 파일 생성 및 그에 따른 main 페이지 수정
  Frontend/jjinppang-fe/src/apis/search.js
  Frontend/jjinppang-fe/src/pages/Main.jsx
Labels: 🐞 bug, 🖥️ frontend

#21 fix : 검색 api 수정 및 css 수정
  Frontend/jjinppang-fe/src/apis/search.js
  Frontend/jjinppang-fe/src/pages/Main.jsx
  Frontend/jjinppang-fe/src/pages/Map.jsx
Labels: 🐞 bug, 🖥️ frontend

#23 feat : 지도 api 테스트
  Frontend/jjinppang-fe/public/images/close.svg
  Frontend/jjinppang-fe/public/images/likes.svg
  Frontend/jjinppang-fe/public/images/profile.svg
  Frontend/jjinppang-fe/src/components/Navbar.jsx
  Frontend/jjinppang-fe/src/components/SideBar/Mypage/MyPageMain.jsx
  Frontend/jjinppang-fe/src/pages/Map.jsx
  Frontend/jjinppang-fe/src/shared/Router.js
  Frontend/jjinppang-fe/src/states/userState.js
Labels: 🤖 test, 🖥️ frontend

#24 #22 feat : 지도 마커 생성
  Frontend/jjinppang-fe/src/pages/Map.jsx
Labels: 🖥️ frontend, 💡 feature
